/* ------------------------------
   SECCIÓN 1: HEADER
------------------------------ */
 /* Estilos base para dispositivos más pequeños */
@media (max-width: 575.99px) {
    .logo-container {
        flex-direction: row!important; /* Cambia la dirección a fila para alinear horizontalmente */
        justify-content: space-between!important; /* Distribuye el espacio entre elementos */
        align-items: center!important; /* Centra verticalmente */
    }

    .nav-name {
        font-size: 35px!important; 
        
    }

    span.navbar-text {
        font-size: 35px!important;
        
    }

    a.navbar-brand {
        left: 0!important; /* Ajusta la posición del logotipo */
        transform: translateX(0)!important; /* Restaura la transformación */
    }
    
    img.logo {
        max-height: 75px !important;
        width: 75px !important;
    }

    .contenido-img-derecha {
        font-size: 15px !important;
        margin-top: 0px !important;
        padding: 3px !important;
    }

    blockquote.intro.text-light {
        font-size: 15px!important;
        padding-left: 8px!important;
    }

    .titulo-curso {
        width: 100%!important;
        
    }

    .titulo-curso h1 {
        font-size: 2em !important;
    }

    .encabezado-header{
        margin-top: 10px!important;
        margin-bottom: 6px!important;
    }

    p.intro{
        display: block!important;
        margin-bottom: 0.35rem!important;
    }

    p.mediana-block {
        display: none!important; /* Ocultar el párrafo en pantallas medianas y grandes */
    }

    p.grande-block{
        display: none!important; /* Ocultar el párrafo en pantallas grandes */
    } 

    p.extra-grande-block{
        display: none!important; /* Ocultar el párrafo en pantallas grandes */

    } 
    
    .banner{
        padding-top: 0px!important;
    }

    button.banner {
        width: auto!important;
        font-size: 5vw!important;
        max-width: 300px!important; 
    }

    .icon-instructor a.icon {
        width: 65px!important;
        height: 65px!important;
    }    
}
/* Media query para tamaños de pantalla entre 576px y 767px */
@media (min-width: 576px) and (max-width: 767.99px) {
    .logo-container {
        flex-direction: row!important; /* Cambia la dirección a fila para alinear horizontalmente */
        justify-content: space-between!important; /* Distribuye el espacio entre elementos */
        align-items: center!important; /* Centra verticalmente */
    }

    .nav-name {
        font-size: 40px!important; /* Ajusta el tamaño del texto si es necesario */
        
    }

    span.navbar-text {
        font-size: 40px!important;
        
    }

    a.navbar-brand {
        left: 0!important; /* Ajusta la posición del logotipo */
        margin-left: 10px!important;
        transform: translateX(0)!important; /* Restaura la transformación */
    }
    
    img.logo {
        max-height: 85px !important;
        width: 85px !important;
    }

    .titulo-curso {
        width: 100%!important;
    }

    .contenido-img-derecha {
        font-size: 15px !important;
        margin-top: 0px !important;
        padding: 5px !important;
    }
    .encabezado-header{
        margin-top: 12px!important;
        margin-bottom: 0px!important;
    }

    blockquote.intro.text-light {
        font-size: 15px!important;
        padding-left: 3px!important;
    }

    p.intro, p.mediana-block {
        display: block!important; /* Ocultar el párrafo en pantallas medianas y grandes */
        padding-right: 10px!important;
        margin-bottom: 0.5rem;
    }

    p.grande-block, p.extra-grande-block{
        display: none!important; /* Ocultar el párrafo en pantallas grandes */

    } 

    button.banner {
        width: auto!important;
        font-size: 6vw!important;
        max-width: 350px!important; /* Ajusta el ancho máximo según sea necesario */
    }

    .icon-instructor a.icon {
        width: 85px!important;
        height: 85px!important;
    }   

}


/* Dos columnas a partir de 768px */
@media (min-width: 768px) and (max-width: 992px) {
    nav#navbar {
        padding: 0 !important;
    }

    img.logo {
        max-height: 75px !important;
        width: 75px !important;
    }

    span.navbar-text {
        font-size: 35px !important;
    }

    a.navbar-brand {
        left: 0!important; /* Ajusta la posición del logotipo */
        margin-left: 10px!important;
        transform: translateX(0)!important; /* Restaura la transformación */
    }

    .titulo-curso {
        width: 50% !important;
    }

    .titulo-curso h1 {
        font-size: 2em !important;
    }

    .contenido-img-derecha {
        font-size: 12px !important;
        margin-top: 0px !important;
        padding: 3px !important;
    }

    .encabezado-header{
        margin-top: 5px!important;
        padding-right: 75px!important;
        margin-bottom: 0px!important;
    }

    blockquote.intro.text-light {
        font-size: 12px!important;
        padding-left: 10px!important;
    }

    p.intro{
        display: block!important;
        margin-bottom: 0.1rem!important;
        
    }

    p.mediana-block {
        display: block!important; /* Muestra el párrafo en pantallas medianas y grandes */
        margin-bottom: 0.1rem!important;
    }

    p.grande-block {
        display: block!important; /* Oculta el párrafo en pantallas grandes */
        margin-bottom: 0.1rem!important;
    }

    p.extra-grande-block{
        display: none!important;
    }

    button.banner {
        width: auto!important;
        font-size: 20px !important;
        padding-right: 10px!important;
        margin-bottom: 0.2rem !important;
    }
}

/* Media query para tamaños de pantalla entre 993px y 1200px */
@media (min-width: 993px) and (max-width: 1200px) {
    .contenido-img-derecha {
        font-size: 12px !important;
        padding: 12px!important;
        margin-top: 35px!important;
    }  

    .encabezado-header{
        padding-left: 5px!important;
        margin-bottom: 0px!important;
    }

    blockquote.intro.text-light {
        font-size: 12px!important;
        padding-right: 8px!important;
        padding-left: 6px!important;
        margin-top: 1px!important;
    } 

    p.intro{
        display: block;
        margin-bottom: 0.09rem!important;
    }

    p.mediana-block {
        display: block;
        margin-bottom: 0.09rem!important;
    }

    p.grande-block {
        display: block;
        margin-bottom: 0.1rem!important;
    }

    p.extra-grande-block{
        display: block;
        margin-bottom: 0.09rem!important;
    }

    button.banner{
        width: auto!important;
        max-width: 360px!important;
        font-size: 2vw!important;
    }
}  
/* Media query para pantallas más grandes */
@media (min-width: 1201px) {
    .contenido-img-derecha {
        font-size: 13px !important;
        padding: 5px!important;
        margin-top: 35px!important;
    } 

    blockquote.intro.text-light {
        font-size: 13px!important;
        padding-right: 5px!important;
        padding-left: 6px!important;
        margin-top: 2px!important;
    } 

    p.intro, p.mediana-block, p.grande-block,p.extra-gramde-block {
        display: block!important;
        margin-bottom: 0.4rem!important;
        
    }
    

}
/* ------------------------------
   SECCIÓN 2: BENEFICIOS 
------------------------------ */
@media (min-width: 320px) and (max-width: 768px) {
    h2.section-title{
        padding-top: 30px!important;
    } 

    .beneficios-contenido {
        margin-bottom: 85px!important;
    } 

    .icon-beneficio {
        top: -30%!important;
        left: 50%!important;
        margin-bottom: 20px;
        transform: translate(-50%, -50%)!important;
    }

    .beneficios-especial h5, .beneficios-asesoria h5, .beneficios-horario h5, .beneficios-certificado h5{
        padding-top: 10px!important;
    }
} 
/* ------------------------------
   SECCIÓN 3: TEMARIO 
------------------------------ */
@media (min-width: 320px) and (max-width: 992px) {
    .programa.temario-imagen {
        background-image: none!important;
    }

    h2.section-title-temario{
        color: black!important;
    }

    .programa.temario-container{
        width: 100%!important;
        text-align: center!important;
        margin: 0 auto!important; /* Centra horizontalmente usando márgenes automáticos */
    }

    .programa.temario-item {
        padding: 30px 20px 30px 30px;
    }

    .programa.temario-numero{
        left: -17px!important;
    }
}

/* ------------------------------
   SECCIÓN 4: TESTIMONIAL
------------------------------ */
/* Estilos para pantallas de 320px a 992px */
@media (min-width: 320px) and (max-width: 992px) {
    .circle {
        height: 100%!important;
        width: 100%!important;
    }
    
    .img-container{
        margin-bottom: 30px;
    }
   
}


